/* 
paleta de cores:
#022A08 = verde escuro 2
#083608 = verde escuro 1
#64D877 = verde claro 
#199743 = verde médio 

*/

@import url('https://fonts.googleapis.com/css2? family= Rubik+Mono+One & display = swap');
    

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-image: url(../imagens/tela_fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
header{
    background-color:#083608 ;
    height: 150px;
    padding: 20px;
    
}
header nav a{
    color:#022A08;
    text-decoration: none;
    background-color: #64D877;
    padding: 5px;
    border-radius: 3px;
    margin: 5px;
    font-family: 'Rubik Mono One', sans-serif;
    font-weight: 600;
    
}
 .titulo .texto_maior{
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 50px;
    margin: 0 auto;
    font-weight: 700;
    
}
.titulo .texto_menor{
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 30px;
    margin: 0 auto;
    margin-top: 20px;
    
    
}
.titulo a{
    text-decoration: none;
    color: #64D877;
}
.imagem_no_artigo{
    text-align:center;
    
}
.imagem_no_artigo img{
    width: 75%;
    margin: 30px;
}
.artigo p{
    font-size: 25px;
    text-indent: 25px;
    margin: 10px;
}
.artigo p a{
    text-decoration: none;
    color: #083608;
}
.artigo h2{
    text-align: center;
    margin: 30px;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 35px;
} 
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-shadow: 5px 5px 15px  rgba(0, 0, 0, 0.301);
     
    
}

header nav{
    display: flex;
    flex-direction: column;
}
p{
    text-align: justify;
}

main{
    background-color: #fff;
    max-width: 70%;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px  rgba(0, 0, 0, 0.301);
}

.artigo{
    max-width: 1000px;
    align-items: center;
    justify-items: center;
    justify-self: center;
}
footer {
   background-color: #022A08    ; 
   height: 50px;
   margin-bottom: 0px;
}
footer a, footer p{    
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 15px
}



.titulo{
    margin: 0 auto;
    
}
.artigo{
    padding: 10px;
}

@media (max-width: 1024px){
    header{
        height: 300px;
    }
    .texto_maior{
        font-size: 20px;
    }
    .texto_menor{
        font-size: 15px;
    }
    main{
        max-width: 100%;
        margin: 10px 5px;
    }
    .imagem_no_artigo img{
        width: 100%;
        margin: 2px;
    }
    header nav{
        display: flex;
        flex-direction: row;
    }
    header nav a{
        display: flex;
        align-items: center;
        height: 40px;
    }
}
@media (max-width: 768px) {
    header{
        height: 300px;
    }
    .texto_maior{
        font-size: 20px;
    }
    .texto_menor{
        font-size: 15px;
    }
    main{
        max-width: 100%;
        margin: 10px 5px;
    }
    .imagem_no_artigo img{
        width: 100%;
        margin: 2px;
    }
    header nav{
        display: flex;
        flex-direction: row;
    }
    header nav a{
        display: flex;
        align-items: center;
        height: 40px;
    }
}

@media (max-width:480px) {
    header{
        height: 400px;
    }
    .texto_maior{
        font-size: 20px;
    }
    .texto_menor{
        font-size: 15px;
    }
    main{
        max-width: 100%;
        margin: 10px 5px;
    }
    .imagem_no_artigo img{
        width: 100%;
        margin: 2px;
    }
    header nav{
        display: flex;
        flex-direction: column;
    }
}